bedrock-agents-infrastructure/agents/servicenow/workflows/sla-monitoring-workflow.json
{
  "Comment": "ServiceNow SLA Monitoring Workflow - SLA breach prevention, escalation, and compliance tracking",
  "StartAt": "MonitorSLATimers",
  "States": {
    "AnalyzeRiskLevels": {
      "Next": "SegmentTicketsBySeverity",
      "Parameters": {
        "FunctionName": "servicenow-analyze-sla-risk",
        "Payload": {
          "categorizeBy": "slaThreshold",
          "tickets.$": "$.atRiskTickets.Payload.tickets"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.riskAnalysis",
      "Type": "Task"
    },
    "CheckIfTicketsAtRisk": {
      "Choices": [
        {
          "Next": "AnalyzeRiskLevels",
          "NumericGreaterThan": 0,
          "Variable": "$.atRiskTickets.Payload.atRiskCount"
        }
      ],
      "Default": "MonitorSLATimers",
      "Type": "Choice"
    },
    "ContinueMonitoring": {
      "Next": "MonitorSLATimers",
      "Type": "Pass"
    },
    "FetchTicketsAtRisk": {
      "Next": "CheckIfTicketsAtRisk",
      "Parameters": {
        "FunctionName": "servicenow-fetch-sla-at-risk",
        "Payload": {
          "includeBreached": true,
          "maxResults": 50,
          "thresholdPercentage": 80
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.atRiskTickets",
      "Type": "Task"
    },
    "GenerateSLAReport": {
      "Next": "PublishSLAMetrics",
      "Parameters": {
        "FunctionName": "servicenow-generate-sla-report",
        "Payload": {
          "analysis.$": "$.riskAnalysis.Payload",
          "atRiskTickets.$": "$.atRiskTickets.Payload.tickets",
          "segmentation.$": "$.segmentation.Payload"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.slaReport",
      "Type": "Task"
    },
    "MonitorSLATimers": {
      "Next": "FetchTicketsAtRisk",
      "Seconds": 600,
      "Type": "Wait"
    },
    "ProcessSegmentedTickets": {
      "Branches": [
        {
          "StartAt": "ProcessCriticalBreaches",
          "States": {
            "ProcessCriticalBreaches": {
              "End": true,
              "ItemsPath": "$.segmentation.Payload.criticalBreach",
              "Iterator": {
                "StartAt": "ImmediateEscalationAction",
                "States": {
                  "ImmediateEscalationAction": {
                    "Branches": [
                      {
                        "StartAt": "EscalateToManager",
                        "States": {
                          "EscalateToManager": {
                            "End": true,
                            "Parameters": {
                              "FunctionName": "servicenow-escalate-ticket-sla",
                              "Payload": {
                                "escalationLevel": "MANAGER",
                                "priority": "P1",
                                "reason": "SLA breach imminent",
                                "ticketId.$": "$.ticket.sys_id"
                              }
                            },
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "ResultPath": "$.escalation",
                            "Type": "Task"
                          }
                        }
                      },
                      {
                        "StartAt": "SendCriticalAlert",
                        "States": {
                          "SendCriticalAlert": {
                            "End": true,
                            "Parameters": {
                              "Message": {
                                "Fn::Format": [
                                  "SLA BREACH ALERT\n\nTicket ID: {}\nTitle: {}\nCategory: {}\nAssignee: {}\n\nSLA Deadline: {}\nTime Remaining: {} minutes\n\nImmediate escalation initiated. Please address immediately.",
                                  "$.ticket.sys_id",
                                  "$.ticket.short_description",
                                  "$.ticket.category",
                                  "$.ticket.assigned_to.display_value",
                                  "$.ticket.sla_deadline",
                                  "$.ticket.minutesRemaining"
                                ]
                              },
                              "Subject": "CRITICAL: SLA Breach - Immediate Action Required",
                              "TopicArn.$": "$.slaBreachAlertTopic"
                            },
                            "Resource": "arn:aws:states:::sns:publish",
                            "Type": "Task"
                          }
                        }
                      },
                      {
                        "StartAt": "UpdateTicketUrgency",
                        "States": {
                          "UpdateTicketUrgency": {
                            "End": true,
                            "Parameters": {
                              "FunctionName": "servicenow-update-ticket-urgency",
                              "Payload": {
                                "newPriority": "P1",
                                "newUrgency": 1,
                                "reason": "SLA breach imminent",
                                "ticketId.$": "$.ticket.sys_id"
                              }
                            },
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Type": "Task"
                          }
                        }
                      }
                    ],
                    "End": true,
                    "Type": "Parallel"
                  }
                }
              },
              "MaxConcurrency": 5,
              "Type": "Map"
            }
          }
        },
        {
          "StartAt": "ProcessCriticalRisk",
          "States": {
            "ProcessCriticalRisk": {
              "End": true,
              "ItemsPath": "$.segmentation.Payload.criticalRisk",
              "Iterator": {
                "StartAt": "AssignToSeniorTechnician",
                "States": {
                  "AssignToSeniorTechnician": {
                    "Next": "NotifySeniorTechnician",
                    "Parameters": {
                      "FunctionName": "servicenow-assign-to-senior",
                      "Payload": {
                        "assignmentPool": "senior_technicians",
                        "priority": "HIGH",
                        "ticketId.$": "$.ticket.sys_id"
                      }
                    },
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "ResultPath": "$.assignment",
                    "Type": "Task"
                  },
                  "NotifySeniorTechnician": {
                    "End": true,
                    "Parameters": {
                      "Message": {
                        "Fn::Format": [
                          "Ticket {} is at high risk of SLA breach.\n\nAssigned to: {}\nTime remaining: {} minutes\nPriority: HIGH\n\nPlease prioritize this ticket.",
                          "$.ticket.sys_id",
                          "$.assignment.Payload.assignedTo",
                          "$.ticket.minutesRemaining"
                        ]
                      },
                      "Subject": "High Priority: SLA at Risk",
                      "TopicArn.$": "$.slaWarningTopic"
                    },
                    "Resource": "arn:aws:states:::sns:publish",
                    "Type": "Task"
                  }
                }
              },
              "MaxConcurrency": 3,
              "Type": "Map"
            }
          }
        },
        {
          "StartAt": "ProcessHighRisk",
          "States": {
            "ProcessHighRisk": {
              "End": true,
              "ItemsPath": "$.segmentation.Payload.highRisk",
              "Iterator": {
                "StartAt": "SendReminderNotification",
                "States": {
                  "SendReminderNotification": {
                    "End": true,
                    "Parameters": {
                      "Message": {
                        "Fn::Format": [
                          "Reminder: Ticket {} needs attention.\n\nTime remaining: {} minutes\n\nPlease update status or resolve the ticket.",
                          "$.ticket.sys_id",
                          "$.ticket.minutesRemaining"
                        ]
                      },
                      "Subject": "SLA Reminder: Ticket Needs Attention",
                      "TopicArn.$": "$.slaWarningTopic"
                    },
                    "Resource": "arn:aws:states:::sns:publish",
                    "Type": "Task"
                  }
                }
              },
              "MaxConcurrency": 2,
              "Type": "Map"
            }
          }
        },
        {
          "StartAt": "RecordSLAStatus",
          "States": {
            "RecordSLAStatus": {
              "End": true,
              "Parameters": {
                "Item": {
                  "AtRiskCount": {
                    "N.$": "States.JsonToString($.atRiskTickets.Payload.atRiskCount)"
                  },
                  "BreachedCount": {
                    "N.$": "States.JsonToString($.segmentation.Payload.criticalBreach.length())"
                  },
                  "CriticalRiskCount": {
                    "N.$": "States.JsonToString($.segmentation.Payload.criticalRisk.length())"
                  },
                  "ExecutedAt": {
                    "N": "States.JsonToString(States.ArrayGetItem(States.StringSplit(States.JsonToString(States.JsonToString($.timestamp)), '.'), 0))"
                  },
                  "HighRiskCount": {
                    "N.$": "States.JsonToString($.segmentation.Payload.highRisk.length())"
                  },
                  "MonitoringCycleId": {
                    "S.$": "$$.Execution.Name"
                  },
                  "Status": {
                    "S": "PROCESSED"
                  }
                },
                "TableName": "servicenow-sla-monitoring"
              },
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Type": "Task"
            }
          }
        }
      ],
      "Next": "GenerateSLAReport",
      "Type": "Parallel"
    },
    "PublishSLAMetrics": {
      "Branches": [
        {
          "StartAt": "PublishToCloudWatch",
          "States": {
            "PublishToCloudWatch": {
              "End": true,
              "Parameters": {
                "MetricData": [
                  {
                    "MetricName": "TicketsAtRisk",
                    "Unit": "Count",
                    "Value.$": "$.atRiskTickets.Payload.atRiskCount"
                  },
                  {
                    "MetricName": "BreachedSLAs",
                    "Unit": "Count",
                    "Value.$": "$.segmentation.Payload.criticalBreach.length()"
                  },
                  {
                    "MetricName": "SLACompliancePercentage",
                    "Unit": "Percent",
                    "Value.$": "$.slaReport.Payload.compliancePercentage"
                  }
                ],
                "Namespace": "ServiceNow/SLA"
              },
              "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
              "Type": "Task"
            }
          }
        },
        {
          "StartAt": "StoreReportInS3",
          "States": {
            "StoreReportInS3": {
              "End": true,
              "Parameters": {
                "Body": {
                  "executionId.$": "$$.Execution.Name",
                  "generatedAt.$": "$.timestamp",
                  "report.$": "$.slaReport.Payload"
                },
                "Bucket.$": "$.reportsBucket",
                "Key": {
                  "Fn::Format": [
                    "sla-reports/{}/sla-report.json",
                    "States.ArrayGetItem(States.StringSplit(States.JsonToString(States.JsonToString($.timestamp)), 'T'), 0)"
                  ]
                }
              },
              "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
              "Type": "Task"
            }
          }
        },
        {
          "StartAt": "SendExecutiveSummary",
          "States": {
            "NotifyExecutives": {
              "End": true,
              "Parameters": {
                "Message": {
                  "Fn::Format": [
                    "SLA Monitoring Executive Summary\n\nTotal At-Risk Tickets: {}\nBreached SLAs: {}\nCritical Risk: {}\nHigh Risk: {}\n\nSLA Compliance: {}%\n\nImmmediate action required on {} breached tickets.",
                    "$.atRiskTickets.Payload.atRiskCount",
                    "$.segmentation.Payload.criticalBreach.length()",
                    "$.segmentation.Payload.criticalRisk.length()",
                    "$.segmentation.Payload.highRisk.length()",
                    "$.slaReport.Payload.compliancePercentage",
                    "$.segmentation.Payload.criticalBreach.length()"
                  ]
                },
                "Subject": "SLA Monitoring Report - Executive Summary",
                "TopicArn.$": "$.executiveTopic"
              },
              "Resource": "arn:aws:states:::sns:publish",
              "Type": "Task"
            },
            "SendExecutiveSummary": {
              "Choices": [
                {
                  "Next": "NotifyExecutives",
                  "NumericGreaterThan": 0,
                  "Variable": "$.segmentation.Payload.criticalBreach.length()"
                }
              ],
              "Default": "SummaryNotificationSkipped",
              "Type": "Choice"
            },
            "SummaryNotificationSkipped": {
              "End": true,
              "Type": "Pass"
            }
          }
        }
      ],
      "Next": "UpdateComplianceTracker",
      "Type": "Parallel"
    },
    "SegmentTicketsBySeverity": {
      "Next": "ProcessSegmentedTickets",
      "Parameters": {
        "FunctionName": "servicenow-segment-tickets-sla",
        "Payload": {
          "segments": [
            "CRITICAL_BREACH",
            "CRITICAL_RISK",
            "HIGH_RISK",
            "MEDIUM_RISK"
          ],
          "tickets.$": "$.atRiskTickets.Payload.tickets"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.segmentation",
      "Type": "Task"
    },
    "UpdateComplianceTracker": {
      "Next": "ContinueMonitoring",
      "Parameters": {
        "AttributeUpdates": {
          "AtRiskCount": {
            "Action": "PUT",
            "Value": {
              "N.$": "States.JsonToString($.atRiskTickets.Payload.atRiskCount)"
            }
          },
          "BreachedCount": {
            "Action": "PUT",
            "Value": {
              "N.$": "States.JsonToString($.segmentation.Payload.criticalBreach.length())"
            }
          },
          "CompliancePercentage": {
            "Action": "PUT",
            "Value": {
              "N.$": "States.JsonToString($.slaReport.Payload.compliancePercentage)"
            }
          },
          "LastMonitoringCycle": {
            "Action": "PUT",
            "Value": {
              "N": "States.JsonToString(States.ArrayGetItem(States.StringSplit(States.JsonToString(States.JsonToString($.timestamp)), '.'), 0))"
            }
          }
        },
        "Key": {
          "Date": {
            "S.$": "States.ArrayGetItem(States.StringSplit(States.JsonToString(States.JsonToString($.timestamp)), 'T'), 0)"
          }
        },
        "TableName": "servicenow-sla-compliance"
      },
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Type": "Task"
    }
  }
}
